
.about-container
{
    display:flex;
    flex-direction: column;
    margin-top:100px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top:20px;
    padding-bottom:20px;

}
body.dark-mode .about-container h2
{
    color:rgb(246, 88, 151) ;
}
body.dark-mode .about-container .education {
    background-color: rgb(44, 42, 42);
    box-shadow:  0 0 8px rgba(177, 171, 171, 0.8);

}
body.dark-mode .about-container .summarise {
    background-color: rgb(44, 42, 42);
    box-shadow:  0 0 8px rgba(177, 171, 171, 0.8);

}
.about-container h2
{
    text-align: center;
}

.about-container p
{
    text-align: center;
}
.about-container .education
    {
        box-shadow:0 0 8px rgba(0,0,0, 0.8); 
        background-color:rgb(233, 227, 227);
        padding-top: 20px;
        padding-bottom: 20px;
    }

.about-container .summarise 
{   
    display :flex ;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 20px;
    background-color: rgb(233, 227, 227);
    box-shadow:0 0 8px rgba(0,0,0, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
}
.declaration
{
    background-color: rgb(16, 176, 126);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8);;
}



/* Responsive Styles */
@media (max-width: 1024px) {
   
}
    


@media (max-width: 768px) {
    .About {
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .education {
        max-width: none;
        margin-left: 0;
        margin-top: 20px;
        height: auto;
        padding-bottom: 20px;
    }
    
    .education h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .summary {
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-top: 20px;
        height: auto;
        padding-bottom: 20px;
    }
    
    .summary h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .training {
        width: 100%;
        max-width: none;
        margin-left: 0;
        height: auto;
        padding-bottom: 20px;
    }
    
    .training h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .career-goal {
        width: 100%;
        max-width: none;
        margin-left: 0;
        height: auto;
        padding-bottom: 20px;
    }
    
    .career-goal h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .hobbies {
        width: 100%;
        max-width: none;
        margin-left: 0;
        height: auto;
        padding-bottom: 20px;
    }
    
    .hobbies h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .education p,
    .summary p,
    .training p,
    .career-goal p,
    .hobbies p {
        font-size: 16px;
    }

    .declaration 
    {
        height: fit-content;
    }
}

@media (max-width: 480px) {
    .About {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .education,
    .summary,
    .training,
    .career-goal,
    .hobbies {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .education h2,
    .summary h2,
    .training h2,
    .career-goal h2,
    .hobbies h2 {
        font-size: 20px;
    }
    
    .education p,
    .summary p,
    .training p,
    .career-goal p,
    .hobbies p {
        font-size: 14px;
    }
    
    .declaration h2 {
        font-size: 14px;
        padding: 10px;
    }
}