
h2
{
    width: fit-content;
}
.education 
{
    
    margin-left: 7px;
    background-color: rgb(233, 227, 227);
    border-radius: 20px;
    padding-left: 20px ;
    padding-right: 20px;
    height: 580px;
    width: 420px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8);
    
 
}
.education p {
    font-size: 18px;
    margin-top: 20px;

}
.education h2 
{
    padding-top: 20px;
    justify-self: center;

 
}
.education .years 
{
    padding-left: 23px;
}
body.dark-mode .education
{
    background-color: rgb(44, 42, 42);
     box-shadow: 0 0 8px rgba(177, 171, 171, 0.8);
}

body.dark-mode .education h2
{
    color: rgb(246, 88, 151);
}
.summary
{
    box-shadow: 0 0 8px rgba(0,0,0, 0.8);
    background-color: rgb(233, 227, 227);
    border-radius: 0px;
    border-radius: 20px;
    padding-left: 50px;
    height: 130px;
    width: 965px;
    margin-left: 478px;
    margin-top: -578px;
    padding-right: 20px;
    
    
 
}
.summary h2{
    padding-left:350px ;
   
}

body.dark-mode .summary h2{

    color:rgb(246, 88, 151) ;
}
.summary p
{
    font-size: 18px;
}

body.dark-mode .summary 
{
    background-color:rgb(44, 42, 42);
    box-shadow: 0 0 8px rgba(177, 171, 171, 0.8);
    
}
.training
{
    
    background-color: rgb(233, 227, 227) ;
    width: 965px;
    margin-left: 478px;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 20px;
    box-shadow:0 0 8px rgba(0,0,0, 0.8); 
    height: 130px;
    border-radius: 20px;

}
body.dark-mode .training
{
    background-color:rgb(44, 42, 42);
    box-shadow: 0 0 8px rgba(177, 171, 171, 0.8);
}
.training p
{
    font-size: 18px;
}
.training h2
{
  padding-left: 300px;
}
body.dark-mode .training h2
{
    color:rgb(246, 88, 151) ;
}
.career-goal
{
    
    width: 954px;
    margin-left: 478px;
    background-color: rgb(233, 227, 227);
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8);
    height: 130px;
    border-radius: 20px;

}

body.dark-mode .career-goal

{
    background-color:rgb(44, 42, 42) ;
    box-shadow: 0 0 8px rgba(177, 171, 171, 0.8);
}

.career-goal p
{
    font-size: 18px;

}
.career-goal h2
{
   padding-left: 330px;
}

body.dark-mode .career-goal h2
{
 color:rgb(246, 88, 151) ;   
}

.hobbies
{
    
    background-color: rgb(233, 227, 227) ;
    width: 964px;
    margin-left: 478px;
    padding-left: 50px;
    padding-right: 20px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8);
    height: 130px;
    border-radius: 20px;
    margin-top: 20px;
    
}
body.dark-mode .hobbies
{
  background-color:rgb(44, 42, 42) ;
    box-shadow: 0 0 8px rgba(177, 171, 171, 0.8);  
}
.hobbies p
{
    font-size: 18px;
}
.hobbies h2
{
    padding-left: 350px;
}
body.dark-mode .hobbies h2
{
     color:rgb(246, 88, 151) ;
} 

.declaration
{
    background-color: rgb(116, 179, 75);
    box-shadow:0 0 8px rgba(0,0,0, 0.8) ;
    height: 50px;
    text-align: center;
    margin-top:20px ;
    justify-items: center;
    justify-content: center;;
width: inherit;
}
body.dark-mode .declaration
{
    color:rgb(246, 88, 151) ;
    background-color: rgba(45, 45, 45, 0.717);
    box-shadow:0 0 8px rgba(177, 171, 171, 0.8) ;
}

.About {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .education {
        width: 90%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        padding-bottom:50px ;
    }
    .education h2 
    {
        justify-self: center;
    }
    
    .summary,
    .training,
    .career-goal,
    .hobbies {
        width: 90%;
        max-width: 965px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .summary {
        margin-top: 20px;
    }
}
    


@media (max-width: 768px) {
    .About {
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .education {
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-top: 20px;
        height: auto;
        padding-bottom: 20px;
    }
    
    .education h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .summary {
        width: 100%;
        max-width: none;
        margin-left: 0;
        margin-top: 20px;
        height: auto;
        padding-bottom: 20px;
    }
    
    .summary h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .training {
        width: 100%;
        max-width: none;
        margin-left: 0;
        height: auto;
        padding-bottom: 20px;
    }
    
    .training h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .career-goal {
        width: 100%;
        max-width: none;
        margin-left: 0;
        height: auto;
        padding-bottom: 20px;
    }
    
    .career-goal h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .hobbies {
        width: 100%;
        max-width: none;
        margin-left: 0;
        height: auto;
        padding-bottom: 20px;
    }
    
    .hobbies h2 {
        padding-left: 0;
        text-align: center;
    }
    
    .education p,
    .summary p,
    .training p,
    .career-goal p,
    .hobbies p {
        font-size: 16px;
    }

    .declaration 
    {
        height: fit-content;
    }
}

@media (max-width: 480px) {
    .About {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .education,
    .summary,
    .training,
    .career-goal,
    .hobbies {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .education h2,
    .summary h2,
    .training h2,
    .career-goal h2,
    .hobbies h2 {
        font-size: 20px;
    }
    
    .education p,
    .summary p,
    .training p,
    .career-goal p,
    .hobbies p {
        font-size: 14px;
    }
    
    .declaration h2 {
        font-size: 14px;
        padding: 10px;
    }
}