body
{
    margin-top: 0%;
    width:100%;
    background-color: rgb(206, 196, 196);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.section-home h1{
    padding-left: 50px;
    width: fit-content;
    justify-self: center;

}
.section-home p{
    
    font-size: 20px;
    width: fit-content;
}

body.dark-mode
{
    background-color: rgb(53, 53, 53);
    color: white;
    
}
.know-btn
{
    background-color:rgb(78, 76, 76);
    margin-top: 20px;
    border-radius: 100px;
    padding: 10px 60px;
    font-size: 22px;
    color: white;
    width: fit-content;
    
}
.projects-btn
{
   
    background-color:rgb(78, 76, 76);
;
    margin-top: 20px;
    border-radius: 100px;
    padding: 10px 60px;
    font-size: 22px;
    color: white;
    width: fit-content;
}
.highlight
{
    color: rgb(52, 89, 230);
}
body.dark-mode .highlight
{
    color: rgb(246, 88, 151);
}
.know-btn a{
    color: white;
}

.projects-btn a{
    color: white;
}

.section-home {
    padding-top: 120px;
    min-height: calc(100vh - 85px);
   
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 100px;
}

.section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-home .button-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .home h1 {
        padding-left: 0;
        text-align: center;
        font-size: 2.5em;
    }
    
    .home p {
        padding-left: 0;
        text-align: center;
        font-size: 32px;
    }
    
    .know-btn {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .home h1 {
        font-size: 2em;
        padding: 0 20px;
        text-align: center;
    }
    
    .home p {
        font-size: 24px;
        padding: 10px 20px;
        text-align: center;
    }
    
    .home .button-wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .know-btn,
    .projects-btn {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        padding: 8px 40px;
        font-size: 18px;
        width: 80%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .home h1 {
        font-size: 1.5em;
        padding: 0 15px;
    }
    
    .home p {
        font-size: 18px;
        padding: 10px 15px;
    }
    
    .know-btn,
    .projects-btn {
        font-size: 16px;
        padding: 8px 30px;
        width: 90%;
    }
}



