.project-container
{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-top: 100px;
    gap: 10px;
    padding-top:25px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8) ;
    margin-bottom: 50px;
    padding-bottom: 50px;

}
.project-container h2
{
    color: rgb(31, 23, 108);;
}

body.dark-mode .project-container h2
{
    color: rgb(246, 88, 151);
}
body.dark-mode .ecommerce-project h3
{
    color: rgb(246, 88, 151);
}
body.dark-mode .ecommerce-project h4
{
    color: rgb(246, 88, 151);
}

.ecommerce-project
{
    font-size: 18px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8)  ;
    width: 50%;
    align-self: center;
    padding: 30px;
}
.ecommerce-project ul 
{
    list-style-type:none;
}
.ecommerce-project h3,h4
{
    color:rgb(31, 23, 108);
}


body.dark-mode .ecommerce-project a
{
   color: white; 
}
body.dark-mode .project-container
{
    box-shadow: 0 0 8px rgba(177, 171, 171, 0.8);
}
body.dark-mode .ecommerce-project
{
    box-shadow: 0 0 8px rgba(177, 171, 171, 0.8);
}
.ecommerce-project a
{
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .ecommerce-project {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .projects-header {
        text-align: center;
        padding: 20px;
    }
    
    .projects-header h2 {
        font-size: 28px;
    }
    
    .ecommerce-project {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }
    
    .ecommerce-project h3 {
        font-size: 20px;
    }
    
    .ecommerce-project p,
    .ecommerce-project ul {
        font-size: 16px;
    }
    
    .ecommerce-project h4 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .projects-header h2 {
        font-size: 24px;
    }
    
    .ecommerce-project {
        width: 100%;
        padding: 15px;
    }
    
    .ecommerce-project h3 {
        font-size: 18px;
    }
    
    .ecommerce-project p,
    .ecommerce-project ul {
        font-size: 14px;
    }
    
    .ecommerce-project h4 {
        font-size: 14px;
    }
    
    .ecommerce-project ul {
        padding-left: 0;
    }
}